html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(238, 238, 246);
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.error-banner {
    background: #fff;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 52px;
    border: 1px solid rgb(235, 233, 242);
    border-radius: 4px;
}

.banner__header {
    padding: 4px;
    padding-left: 8px;
    /* border-bottom: 1px solid rgb(235, 233, 242); */
    /* color: rgb(170, 166, 185); */
    font-size: 12px;
    color: #fafafa;
    background-color: #f56056;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.banner__body {
    padding: 38px;
}

.banner__body-title {
    font-size: 18px;
    color: rgb(142, 137, 161);
    margin-bottom: 4px;
}

.banner__body-message {
    text-align: justify;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 28px;
}

.banner__body-footer {
    color: rgb(170, 166, 185);
    font-size: 12px;
}

