body {
    background: rgb(65,65,65);
    background: radial-gradient(circle, rgba(65,65,65,1) 0%, rgba(42,42,42,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Muli', sans-serif;
}

.form-card {
    min-width: 25%;
}

.form-title {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-left: 16px;
    margin-right: 16px;
}

.form-title h3 {
    margin: 0;
    font-size: 42px;
    color: #f7f7f7;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.form-input {
    height: 42px;
    font-size: 14px;
    padding: 0 12px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.form-input:focus {
    outline: none;
}

.form-input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.form-submit {
    margin-top: 16px;
    border: none;
    background: rgb(222,81,48);
    background: linear-gradient(70deg, rgba(222,81,48,1) 0%, rgba(242,174,31,1) 100%);
    height: 42px;
    color: #f7f7f7;
    width: 100%;
    font-size: 14px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.form-submit:focus {
    outline: none;
    background-color: #454545;
}