body {
    background: #2a2a2a;
    color: #e7e7e7;
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-top: 2px solid rgba(242,174,31,1); */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
}

.content__wrapper {
    border-radius: 16px;
    width: calc(100vw - 216px);
    height: calc(100vh - 64px);
    overflow: auto;
}

.content__title {
    margin: 24px 32px 16px 32px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
}

.content {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin: 16px 32px;
    padding: 16px 32px 16px 32px;
}

.content__subtitle {
    color: #979797;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    font-weight: 400;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-element label {
    font-size: 14px;
}

.form-input {
    height: 44px;
    border: none;
    margin: 12px 0;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2);
    padding: 4px 12px;
    color: #e5e5e5;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.25s;
}

.form-input:disabled {
    background-color: #444;
    color: #777;
}

.form-input::placeholder {
    color: #444;
}

.form-input:focus {
    border: 2px solid rgba(242,174,31,1);
    outline: none;
}

select.form-input {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 16px;
     background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    padding: .5em;
    padding-right: 1.5em
}

select.form-input:disabled {
    cursor: no-drop;
}

.form__submit {
    display: flex;
    justify-content: flex-end;
}

.form__submit-button {
    height: 32px;
    min-width: 104px;
    border: none;
    border-radius: 16px;
    color: #f7f7f7;
    font-size: 12px;
    background-color: rgb(69, 158, 69);
}

.form__submit-button:hover {
    background-color: rgb(83, 199, 83);
    cursor: pointer;
}

.form__submit-button:focus {
    outline: none;
}

.content__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
}

.content__nav.spread {
    justify-content: space-between;
}

.content__nav-left,
.content__nav-right {
    display: flex;
}

.content__nav a {
    display: block;
    margin-right: 16px;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    padding: 4px 0;
    transition: all 0.25s;
    color: #757575;
    font-weight: 300;
}

.content__nav a:last-of-type {
    margin-right: 0px;
}

.content__nav a:hover {
    border-bottom: 3px solid rgba(242,174,31,1);
    color: #e7e7e7;
}

a {
    color: #e5e5e5;
    text-decoration: none;
}

.empty__text {
    color: #494949;
}

.dtable {
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0;
}

.dtable thead {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.dtable thead tr {
    width: 100%;
    height: 32px;
}

.dtable thead tr th {
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    color: #888;
    letter-spacing: 2px;
    padding-right: 4px;
}

.th__cnt {
    display: flex;
    max-width: 104px;
}

.th__text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sort__cnt {
    margin-left: 8px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 4px solid #555;
    margin-top: 2px;
    transition: all 0.25s;
}

.arrow-up:hover {
    border-bottom: 4px solid rgba(242,174,31,1);
    cursor: pointer;
}

.arrow-up__active {
    border-bottom: 4px solid rgba(242,174,31,1);
}

.arrow-down {
    margin-top: 4px;
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #555;
    transition: all 0.25s;
}

.arrow-down:hover {
    border-top: 4px solid rgba(242,174,31,1);
    cursor: pointer;
}

.arrow-down__active {
    border-top: 4px solid rgba(242,174,31,1);
}

.dtable tbody tr {
    height: 52px;
}

.dtable tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

.dtable tbody tr:hover td {
    background-color: rgba(255, 255, 255, 0.025);
    color: #e7e7e7;
}

.dtable tbody tr td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.075);
    font-size: 14px;
    max-width: 180px;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
    /* color: #aaa; */
}

.threedots {
    width: 8px;
    height: 24px;
    background-image: radial-gradient(circle at center, #888 2px, transparent 2px);
    background-size: 8px 8px;
    transition: all 0.25s;
    margin-left: auto;
    margin-right: 8px;
}

.threedots:hover {
    background-image: radial-gradient(circle at center, rgba(242,174,31,1) 2px, transparent 2px);
    cursor: pointer;
    transform: scale(1.25);
}

.dialog__3dots {
    opacity: 0;
    position: fixed;
    bottom: 100px;
    border-radius: 16px;
    border: 2px solid rgba(255,255,255,0.2);
    /* background-color: #2a2a2a; */
    background-color: rgba(255, 255, 255, 0.05);
    height: 0px;
    width: 0px;
    display:flex;
    transition: border 0.25s, width 0.25s, height 0.25s;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

.dialog__3dots a {
    color: #999;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    transition: all 0.25s;
}

.dialog__3dots a:last-child {
    border-bottom: none;
}

.dialog__3dots:hover {
    border: 2px solid rgba(242,174,31,1);
}

.dialog__3dots a:hover {
    color: #f7f7f7;
    cursor: pointer;
}

.dialog__3dots.dialog__3dots-active {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100px;
    width: 120px;
}

.btn {
    background-color: rgba(242,174,31,1);
    color: #353535;
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 14px;
    transition: all 0.25s;
    border:none;
}

.btn:hover {
    background-color: rgb(255, 199, 78);
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background-color: #444;
    color: #777;
    cursor: not-allowed;
}

.align__l {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 0;
}

.align__r {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px 0;
}

.dtable__search {
    max-width: 25%;
    margin-bottom: 0;
}

.dtable__search .form-input {
    height: 32px;
    border-width: 1px;
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Muli', sans-serif;
}

.dtable__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 460px;
}

.dtable__pagination .pagination__item button,
.dtable__pagination .pagination__item span {
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-color: transparent;
    color: #888;
    border: none;
    font-size: 12px;
    border-radius: 16px;
    padding: 4px 12px;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    transition: all 0.25s;
    line-height: 16px;
    color: #aaa;
}

.dtable__pagination .pagination__item button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    color: #f7f7f7;
}

.dtable__pagination .pagination__item button:focus {
    outline: none;
}

.dtable__pagination .pagination__item:first-of-type button {
    font-weight: 300;
    margin-right: 24px;
    color: #888;
}

.dtable__pagination .pagination__item:last-of-type button {
    font-weight: 300;
    margin-left: 24px;
    color: #888;
}

.dtable__pagination .pagination__item button.pagination__active {
    background-color: rgba(242,174,31,1);
    color: #353535;
}

.dtable__pagination .pagination__item button.pagination__disabled {
    text-decoration: line-through;
    color: #454545;
    pointer-events: none;
}

.form-input__file,
.form-input__image {
    display: flex;
}

.form-input__file-input,
.form-input__image-input {
    display: none;
}

.form-input__file-desc,
.form-input__image-desc {
    flex-grow: 1;
    height: 44px;
    border: none;
    margin: 12px 0;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    background: rgba(0, 0, 0, 0.2);
    padding: 4px 12px;
    color: #e5e5e5;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.25s;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-input__file:hover .form-input__file-desc,
.form-input__image:hover .form-input__image-desc {
    border: 2px solid rgba(242,174,31,1);
    cursor: pointer;
}

.form-input__file-btn,
.form-input__image-btn {
    height: 44px;
    border: none;
    margin: 12px 0;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    padding: 4px 12px;
    font-size: 12px;
    transition: all 0.25s;
    background: rgba(255, 255, 255, 0.1);
    color: #aaa;
}

.form-input__file-btn:focus,
.form-input__image-btn:focus {
    outline: none;
}

.form-input__file:hover .form-input__file-btn,
.form-input__image:hover .form-input__image-btn {
    background: rgba(242,174,31,1);
    color: #111;
    cursor: pointer;
}

.form-input__image-preview,
.record__preview {
    display: flex;
    margin-left: 16px;
}

.record__preview {
    margin-left: 0px;
}

.form-input__image-preview span,
.record__preview span {
    height: 44px;
    border: none;
    margin: 12px 0;
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 12px;
    transition: all 0.25s;
    background: rgba(255, 255, 255, 0.1);
    color: #aaa;
    display: flex;
    align-items: center;
}

.record__preview span {
    display: block;
    background: rgba(242,174,31,1) !important;
    color: #111 !important;
    max-width: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 8px;
    margin: 0;
    height: 32px;
    line-height: 32px;
}

.form-input__image-preview img,
.record__preview img {
    display: none;
}

.image__preview-popup {
    position: absolute;
}

.image__preview-popup img {
    display: block;
    border-radius: 8px;
    max-width: 300px;
    border: 2px solid rgba(242,174,31,1);
}

.preview__active {
    background: rgba(242,174,31,1) !important;
    color: #111 !important;
}

.hide {
    display: none;
}