.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 64px;
}

.navbar__brand {
    color: #e7e7e7;
    text-decoration: none;
    font-size: 20px;
}

.navbar__list {
    list-style: none;
}

.logout-btn {
    height: 24px;
    background: rgba(242,174,31,1);
    font-size: 14px;
    padding: 0 16px;
    border:none;
    color: #2a2a2a;
    font-family: 'Muli', sans-serif;
    border-radius: 16px;
}

.logout-btn:hover {
    background: rgb(255, 191, 54);
    cursor: pointer;
}