.route__item {
    display: flex;
    margin: 8px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.025);
    padding-bottom: 8px;
}

.route__method {
    width: 52px;
    text-align: center;
    margin-right: 8px;
    font-size: 12px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.route__method-get {
    background-color: rgb(101, 177, 251);
}

.route__method-post {
    background-color: rgb(80, 203, 146);
}

.route__body {
    display: flex;
}

.route__path {
    font-weight: 300;
    color: #ccc;
    font-size: 14px;
    letter-spacing: 1px;
}

.path__alias {
    font-size: 12px;
    color: #bbb;
    background-color: #555;
    border-radius: 8px;
    padding: 0px 8px;
    margin-left: 8px;
}

.route__action {
    margin-left: auto;
    font-size: 14px;
}

.action__controller {
    font-weight: 700;
}

.action__action {
    font-weight: 200;
    color: #ccc;
    margin-left: 4px;
}