.sidebar {
    height: calc(100vh - 64px);
    width: 216px;
    /* border-top: 2px solid rgba(242,174,31,1); */
}

.sidebar__list {
    list-style: none;
    padding: 0;
}

.sidebar__list-item {
    margin-left: 16px;
    margin-right: 16px;
    padding: 10px 0px 10px 16px;
    border-radius: 16px;
    transition: all 0.25s;
    margin-top: 4px;
    margin-bottom: 4px;
}

.active {
    background: rgba(0, 0, 0, 0.2);
}

.sidebar__list-item a {
    color: #e7e7e7;
    text-decoration: none;
    width: 100%;
    display: block;
    transition: all 0.25s;
    font-weight: 300;
}

.sidebar__list-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.sidebar__list-item:hover a {
    color: rgba(242,174,31,1);
}