.table__list {
    display: flex;
    flex-wrap: wrap;
}

.table__card {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 23%;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    margin: 8px 8px;
    height: 96px;
    border: 1px solid transparent;
    transition: all 0.25s;
}

.table__card:hover {
    border: 1px solid rgba(242,174,31,1);
}

.table__card:hover a {
    color: rgba(242,174,31,1);
    
}

.table__card p {
    transition: all 0.25s;
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
}

.table__card a {
    color: #888;
    font-size: 14px;
    font-weight: 300;
}

.value__btn {
    background-color: rgba(242,174,31,1);
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 16px;
    color: #353535;
}

.value__btn-disabled {
    background-color: #474747;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 16px;
    color: #888;
}

.new-cols__list {
    list-style: none;
    padding: 0;
    margin-bottom: 16px;
}

.new-cols__list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    margin-top: 12px;
}

.new-cols__list li .form-element {
    margin-bottom: 12px;
}

.new-cols__list li .form-element .form-input {
    min-width: 100px;
}

.new-cols__list li .new-cols__list-id {
    color: #777;
}

.rel__cnt {
    padding-bottom: 24px;
    padding-top: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-between;
}

.rel__table p {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.rel__type {
    display: flex;
    justify-content: flex-end;
}